{{!< default}}

{{! Archive Page }}

<div class="content-area">
<main class="site-main single-post">
    <header class="article-header gh-canvas">
        <h1 class="post-title">{{t 'Archive'}}</h1>
    </header>
    <div class="gh-content gh-canvas">
        {{#foreach posts visibility='all'}}
          <div
            class='archive-post-wrap post-year-{{date format='Y'}} js-post-card'
          >
            <h3 class='archive-post-label m-t m-b-sm fw-600'>{{date
                format='YYYY'
              }}</h3>
            <article class='archive-post'>
              <time
                datetime='{{date published_at format='YYYY-MM-DD'}}'
                class='text-acc-3'
              >{{date published_at format='MMMM'}}
              </time>

              <h4 class='archive-post__title fw-500 text-acc-2 m-0'>
                <a class='archive-post__link flex-1' href='{{url}}'>{{title}}</a>
              </h4>
            </article>
          </div>
        {{/foreach}}

        {{! Pagination }}
        {{pagination}}
    </div>
</main>
</div>
